
table{
    width: 700px;
}

thead{
    background-color: #C41E3A;
}

table, th, td{
    border: 1px solid black;
	  border-collapse: collapse;
    
}


th{
    text-align: left;
}

td{
    text-align: end;
}

/* Your CSS Code here. */